<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>usuarioConsultaServlet</servlet-name>
        <servlet-class>servlet.usuarioConsultaServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>articuloConsultaServlet</servlet-name>
        <servlet-class>servlet.articuloConsultaServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>sucursalConsultaServlet</servlet-name>
        <servlet-class>servlet.sucursalConsultaServlet</servlet-class>
    </servlet>
   
    <servlet>
        <servlet-name>departamentoConsultaServlet</servlet-name>
        <servlet-class>servlet.departamentoConsultaServlet</servlet-class>
    </servlet>
   
    <servlet>
        <servlet-name>usuarioInsertarServlet</servlet-name>
        <servlet-class>servlet.usuarioInsertarServlet</servlet-class>
        <multipart-config>
            <max-file-size>-1</max-file-size>
            <max-request-size>-1</max-request-size>
            <file-size-threshold>52428800</file-size-threshold>
        </multipart-config>
    </servlet>

<servlet>
        <servlet-name>articuloInsertarServlet</servlet-name>
        <servlet-class>servlet.articuloInsertarServlet</servlet-class>
    </servlet>


<servlet>
        <servlet-name>sucursalInsertarServlet</servlet-name>
        <servlet-class>servlet.sucursalInsertarServlet</servlet-class>
    </servlet>

   <servlet>
        <servlet-name>departamentoInsertarServlet</servlet-name>
        <servlet-class>servlet.departamentoInsertarServlet</servlet-class>
    </servlet>

<servlet>
        <servlet-name>imagenUsuario</servlet-name>
        <servlet-class>servlet.imagenUsuario</servlet-class>
    </servlet>

<servlet>
        <servlet-name>imagenesVideosServlet</servlet-name>
        <servlet-class>servlet.imagenesVideosServlet</servlet-class>
    </servlet>






    <servlet-mapping>
        <servlet-name>usuarioConsultaServlet</servlet-name>
        <url-pattern>/usuarioConsultaServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>articuloConsultaServlet</servlet-name>
        <url-pattern>/articuloConsultaServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>sucursalConsultaServlet</servlet-name>
        <url-pattern>/sucursalConsultaServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>departamentoConsultaServlet</servlet-name>
        <url-pattern>/departamentoConsultaServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>usuarioInsertarServlet</servlet-name>
        <url-pattern>/usuarioInsertarServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>articuloInsertarServlet</servlet-name>
        <url-pattern>/articuloInsertarServlet</url-pattern>
    </servlet-mapping>
    
     <servlet-mapping>
        <servlet-name>sucursalInsertarServlet</servlet-name>
        <url-pattern>/sucursalInsertarServlet</url-pattern>
    </servlet-mapping>
    
     <servlet-mapping>
        <servlet-name>departamentoInsertarServlet</servlet-name>
        <url-pattern>/departamentoInsertarServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>imagenUsuario</servlet-name>
        <url-pattern>/imagenUsuario</url-pattern>
    </servlet-mapping>
    
     <servlet-mapping>
        <servlet-name>imagenesVideosServlet</servlet-name>
        <url-pattern>/imagenesVideosServlet</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
