body {
  padding-top:0px;
/*  background-color: #dcc2ce;*/
background-color: whitesmoke;
  background-size: cover;
  font-family:'Roboto Condensed', sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

img{
    height:130px;
    width: 200px;
    
}
table{
    padding-left: 0px;
    
}

#fiTicket{
  width: 99%;


}

.TICKET{
    position: absolute;
    top:80px;
     width: 99%;
 padding-bottom: 0px;

}

 .contentTotales{

    width:65%;
    display:inline;
    position:initial;
    margin: 0 auto;
  
    
  }
  
  .clTotal{
    text-align: center;
    display: inline-block;
 
  }
 
  
  #fiTotales{
    width:99%;
    height: 140px;

  
      
  }
  
  #total{
  
    width:360px;
    height: 100px;
    float:left;
    left:600px;
    left:500px;
     }
     
    


* { 
    margin: 0px;
    padding: 0px; 
    outline: 0;
}
html, body { 
    width: 100%;
}

.menuCaja{
    top: 100px;
    left: 290px;
}

.numTotal{
    font-size: xx-large;
}

.Total{
    font-size: x-large;
}

#menu { 
    font-size: 1em;
         margin: 0px;
         position: absolute;
         top: 0px;
         left: 1250px;
         border-color: aqua;
       
        
}
#menu ul { list-style-type: none;}

#menu ul li.nivel1 { 
float: left;
width: 164px;
margin-right: 2px;
}
#menu ul li a {display: block;
text-decoration: none;
color: #fff;
background-color: #C44781;
border: solid 1px #fff;
padding: 8px;
position: relative;
}
#menu ul li:hover {position: relative;
}
#menu ul li a:hover, #menu ul li:hover a.nivel1 {background-color:  #F39E1F;
color: #FFF;
position: relative;
}
#menu ul li a.nivel1 {display: block!important;display: none;
position: relative;
}
#menu ul li ul {display: none;
}
#menu ul li a:hover ul, #menu ul li:hover ul {display: block;
position: absolute;left: 0px;
}
#menu ul li ul li a {width: 160px;
padding: 6px 0px 8px 0px;
border-top-color: #000;
}


table.falsa {border-collapse:collapse;
border:0px;
float: left;
position: relative;
}

#IMG{
  
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    position:absolute;
    top:20px;
    left:0px;
 
}

#VID
{
    position:absolute;
    background-repeat: no-repeat;
    background-position: center;
    top:240px;
    left: 25px;
      background-size: contain;
}

#Products
{
    width: 935px;
    height: 280px;
      font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;    margin: 5px;   text-align: left;    border-collapse: collapse; 
    font-weight: normal;  }

#productin{
    font-size: 13px;     font-weight: bold;     padding: 8px;     background: #C44781;
    border-top: 4px solid #F39E1F;    border-bottom: 1px solid #fff; color: #080808;
}


#totalines{
    font-weight: bold; 
     font-size: 20px; 
}

#totalines2{
    position: absolute;
    padding-top: 30px;
    padding-left: 250px;
}
.Texto
{
    height: 23px;
    width: 210px;
}

#textoBuscar
{
    position: relative;
    float: right;
    right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#txt{
  -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        border: 1px solid #000000;
        padding: 0 4px 0 4px;
        }

        #corpo1{
border-radius: 45% / 20%; /* Borde redondeado */
box-shadow: 0px 0px 15px #000; /* Sombra */
padding:0;
-moz-transition: all 1s;
-webkit-transition: all 1s;
-o-transition: all 1s;
box-shadow: 5px 7px 22px #000;
}
#corpo1:hover {
border-radius: 0; /* Con esto eliminamos el borde redondeado */
-moz-transition: all 1s;
-webkit-transition: all 1s;
-o-transition: all 1s;
cursor:pointer;
}

fieldset{
/*    background-color: #F39E1F; */
background-color: #eed3d7;
    box-shadow: 5px 7px 22px #000;
    border: 4px groove #F39E1F;
    -moz-border-radius:15px;  
  border-radius: 15px;  
  -webkit-border-radius: 15px; //edit :D 
 
}

#logito{
    position: absolute;
    top:0px;
    left: 0px;
        height: 88px;
    width: 120px;
}

#respuesta1{
        background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
                 position: absolute;
                 top:10px;
                 left: 945px;
                  width: 390px;
                 height: 320px;
                 
                 

}

.estilotd{
            color: white;
            font-weight:bold;
        }
